.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 100px;
}

.header {
  font-size: 128px;
  font-weight: 900;
  color: #fff;

  background-color: #000000;
  background-image: linear-gradient(90deg, rgb(90, 83, 170) 41%, rgb(52, 176, 179) 90%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}