@use '../../styles/styles' as *;

.container {
  @include themed { 
    color: t('text');
  }

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
  
    